body,
html {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100%;
  background-color: #f1f1ee;
  width: 100%;
}

header {
  background: #00062A;
  height: auto;
  color: #fff;
}

.headerDiv {
  border: 3px solid transparent;
  margin: auto 15%;
}

h1 {
  margin: 0;
  text-align: center;
  /* font-family: 'Roboto Slab', serif; */
  letter-spacing: 5px;
  font-size: 3em;
}

h3 {
  text-align: center;
  font-size: 1.4em;
  letter-spacing: 3px;
}

h4 {
  text-align: center;
  font-size: 1.4em;
  color: #00062A;
}

.span-font {
  text-align: center;
  font-size: 1.8em;
  color: #00062A;
  font-weight: bold;
}

.triangle {
  width: 0px;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-top: 30px solid #00062A;
  display: flex;
  margin: auto;
}

footer {
  background: #00062A;
  color: white;
  padding: 4px;
  text-align: center;
  position: fixed;
  bottom:0;
  width:99.2%;
}

.h1-header {
  margin: 0 auto -15px;
}

.selects {
  margin-top: -25px;
}

.select-section select {
  border: 0;
  color: white;
  background: transparent;
  font-size: 20px;
  padding: 8px 15px;
  width: 100%;
  background: rgb(26, 69, 143);
  border-radius: 8px;
}

option:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 

.select-section {
  margin: 25px auto;
  width: 60%;
}

.graphic {
  width: 40%;
  margin: 10px auto;
}

.btn-result {
  display: inline-block;
  cursor: pointer;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 20px;
  background-color: #00062A;
  outline: none;
  border: 2px solidd #fff;
  border-radius: 8px;
  font-style: bold;
}

.btn-submit {
  text-align: center;
}

.btn-result:hover {
  background: rgb(18, 22, 88);
}

.year-result {
  font-size: 0.8em;
  color: rgba(100, 154, 46, 1);
}

.average-result {
  font-size: 0.8em;
  color: rgba(8, 8, 138, 1);
}
